In [1]:
import pandas as pd

In [2]:
#confirm the directory path
import os

path = os.getcwd()
print(path)

/Users/reidblouin/usr/Data Visualization/Python write to Excel

In [10]:
#Bring the CSV's in to Combine as Dataframeworks
df1 = pd.read_csv('NDX.csv',
                  usecols=['Date', 'NDX'])
df2 = pd.read_csv('S&P500.csv',
                  usecols=['Date', 'S&P500'])

In [11]:
merged_df = pd.merge(df1, df2, on='Date', how='left')

In [31]:
#View the Data before exporting
merged_df.head(5)

        Date        NDX    S&P500
0   7-Sep-23  14,000.00  4,434.55
1   6-Sep-23  13,950.00  4,490.35
2   5-Sep-23  13,900.00  4,510.06
3   1-Sep-23  13,850.00  4,530.60
4  31-Aug-23  13,800.00  4,517.01

In [17]:
#CSV exported to Directory - save a backup
merged_df.to_csv("Output")

In [23]:
#CSV exported to defined path - Documents Folder. This is where we will write to the Excel Files.
import os
path = '/Users/reidblouin/Documents/Workbook Outputs/Stock Data/'
merged_df.to_csv(path+'Output')

In [45]:
#Excel exported to defined path - Documents Folder. This is where we will write to the Excel Files.
with pd.ExcelWriter(path+'Output.xlsx') as writer:
    merged_df.to_excel(writer, sheet_name='Sheet_1')

In [35]:
#Here we are going to alter the merged dataframe before update

In [39]:
merged_df.count(axis=0, level=None, numeric_only=False) #here we count the number of data points. This is just so we know to cut "x" amount

Date      38
NDX       38
S&P500    38
dtype: int64

In [52]:
merged_df.iloc[1:33] #iloc locks the range. Note that 33 means that 1-32 will be pulled in

         Date        NDX    S&P500
1    6-Sep-23  13,950.00  4,490.35
2    5-Sep-23  13,900.00  4,510.06
3    1-Sep-23  13,850.00  4,530.60
4   31-Aug-23  13,800.00  4,517.01
5   30-Aug-23  13,750.00  4,477.01
6   29-Aug-23  13,700.00  4,437.01
7   28-Aug-23  13,650.00  4,397.01
8   27-Aug-23  13,600.00  4,357.01
9   26-Aug-23  13,550.00  4,317.01
10  25-Aug-23  13,500.00  4,277.01
11  24-Aug-23  13,450.00  4,237.01
12  23-Aug-23  13,400.00  4,197.01
13  22-Aug-23  13,350.00  4,157.01
14  21-Aug-23  13,300.00  4,117.01
15  20-Aug-23  13,250.00  4,077.01
16  19-Aug-23  13,200.00  4,037.01
17  18-Aug-23  13,150.00  3,997.01
18  17-Aug-23  13,100.00  3,957.01
19  16-Aug-23  13,050.00  3,917.01
20  15-Aug-23  13,000.00  3,877.01
21  14-Aug-23  12,950.00  3,837.01
22  13-Aug-23  12,900.00  3,797.01
23  12-Aug-23  12,850.00  3,757.01
24  11-Aug-23  12,800.00  3,717.01
25  10-Aug-23  12,750.00  3,677.01
26   9-Aug-23  12,700.00  3,637.01
27   8-Aug-23  12,650.00  3,597.01
28   7-Aug-23  12,600.00  3,557.01
29   6-Aug-23  12,550.00  3,517.01
30   5-Aug-23  12,500.00  3,477.01
31   4-Aug-23  12,450.00  3,437.01
32   3-Aug-23  12,400.00  3,397.01

In [34]:
#Update the Existing Excel Workbook - Import the Proper Package
import openpyxl as op

In [60]:
wb = op.load_workbook('/Users/reidblouin/Documents/Workbook Outputs/Stock Data/Output.xlsx')
ws = wb.active

TypeError: expected str, bytes or os.PathLike object, not Workbook

In [ ]:
with pd.ExcelWriter(path+'Output.xlsx') as writer:
    df.to_excel(writer, sheet_name='Sheet_1')